@import "mixins";
/* Globals */
body {
    @include fluid-text(16, 14);

    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--font-color-dark);
    background-color: var(--background-color-main);
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    color: var(--font-color-dark);
}

h1 {
    @include fluid-text(32, 25);
}
